<div style="padding:5rem;">
  <div class="card testimonial show-overflow">
    <div class="grid grid--cols-2">
      <div class="testimonial__image">
        <img src="/images/testimonial.jpg" alt="A happy smiley Customer" />
        <span class="icon-container icon-container--accent">
          <svg class="icon icon--small icon--white">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>

      <blockquote class="quote">
        <p class="quote__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, dolorem amet temporibus
          consequatur perspiciatis enim! Illo, eligendi impedit. Saepe, voluptatibus?</p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">John Smith</h3>
              <p class="quote__company">CEO, ABC Company </p>
            </div>
          </div>
        </footer>
      </blockquote>

    </div>
  </div>
</div>